﻿@using ABCSalesApp.Models.ViewModels
@model PaginationAndDatasViewModels<CityDetailViewModels>

@{
    ViewBag.Title = "City";
}

<h2>@ViewBag.Title - Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<input id="current-pages" value="@Model.CurrentPages" hidden />
<input id="controller-name" value="City" hidden />
<div id="customTable">
    <table class="table table-striped">
        <tr>
            <th>
                Name
            </th>
            <th>
                Country Name
            </th>
            <th>
                State Name
            </th>
            <th>
                Date Created
            </th>
            <th>
                Created By
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.GetDatas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StateName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedBy)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
<div id="pagination-navbar">
    @Html.Partial("_PaginationNavBar", (PaginationBaseViewModel)Model)
</div>


