﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ABC Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

</head>
<body id="body-pd">
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="@Url.Action("Index", "Sales")" class="nav_logo"> <i class='bx bx-layer nav_logo-icon'></i> <span class="nav_logo-name">Sales Information</span> </a>
                <div class="nav_list">
                    <a href="@Url.Action("Index", "Sales")" class="nav_link active">
                        <i class='bx bx-grid-alt nav_icon'></i>
                        <span class="nav_name">Dashboard</span>
                    </a>
                    <a href="@Url.Action("Create", "Sales")" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Sales</span> </a>
                    <a href="@Url.Action("Index", "Product")" class="nav_link"> <i class='bx bx-box nav_icon'></i> <span class="nav_name">Product</span> </a>
                    <a href="@Url.Action("Index", "Country")" class="nav_link"> <i class='bx bx-globe nav_icon'></i> <span class="nav_name">Country</span> </a>
                    <a href="@Url.Action("Index", "State")" class="nav_link"> <i class='bx bx-arch nav_icon'></i> <span class="nav_name">State</span> </a>
                    <a href="@Url.Action("Index", "City")" class="nav_link"> <i class='bx bx-building-house nav_icon'></i> <span class="nav_name">City</span> </a>
                </div>
            </div> <a href="#" class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span> </a>
        </nav>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ABC Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
