﻿@model ABCSalesApp.Models.ViewModels.PaginationBaseViewModel

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
        <li class="page-item @(Model.DisablPrev ? "disabled" : "")" )>
            <a class="page-link" id="prev-page-id" aria-label="Previous" style="cursor: @(Model.DisablPrev ? "not-allowed" : "pointer")">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>

        @foreach (var index in Model.PageIndexes)
        {
            <li class="page-item @(index == Model.CurrentPages?"active":"") @(index > Model.TotalPages?"disabled":"")"><a class="page-link current-page" href="#">@index</a></li>

        }

        <li class="page-item @(Model.DisablNext ? "disabled" : "")" )>
            <a class="page-link" id="next-page-id" aria-label="Next" style="cursor: @(Model.DisablNext ? "not-allowed" : "pointer")">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
