﻿@using ABCSalesApp.Models.ViewModels;
@model SalesPaginationAndDatasViewModels<SalesDetailViewModels>


@{
    ViewBag.Title = "Sales Information";
}

<h2>@ViewBag.Title - Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="filter-form">
    <div class="card">
        <div class="card-header">
            Search Filter Parameter
        </div>
        <div class="card-body">
            @using (Html.BeginForm("SearchSales", "Sales", FormMethod.Post, new { id = "search-parameter-form" }))
            {
                <input id="CurrentPage" name="CurrentPage" value="@Model.SalesSearchParameter.CurrentPage" hidden />
                @Html.AntiForgeryToken()
                <div class="form-row">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group col">
                        @Html.LabelFor(model => model.SalesSearchParameter.MinimumSalesDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <input id="MinimumSalesDate" name="MinimumSalesDate" value="@Model.SalesSearchParameter.MinimumSalesDateText" type="date" class="form-control" />
                        @Html.ValidationMessageFor(model => model.SalesSearchParameter.MinimumSalesDate, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col">
                        @Html.LabelFor(model => model.SalesSearchParameter.MaximumSalesDate, htmlAttributes: new { @class = "control-label col-md-2" })
                        <input id="MaximumSalesDate" name="MaximumSalesDate" value="@Model.SalesSearchParameter.MaximumSalesDateText" type="date" class="form-control" />
                        @Html.ValidationMessageFor(model => model.SalesSearchParameter.MaximumSalesDate, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        @Html.LabelFor(model => model.SalesSearchParameter.CountryId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <select id="CountryId" name="CountryId" class="form-control">
                            <option value="">
                                Select Country
                            </option>
                            @if (Model.SalesSearchParameter.Countries != null)
                            {
                                foreach (var item in Model.SalesSearchParameter.Countries)
                                {
                                    <option value="@item.Value" @(item.Selected?"selected":"") >
                                        @item.Text
                                    </option>
                                }
                            }

                        </select>
                        @Html.ValidationMessageFor(model => model.SalesSearchParameter.CountryId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col">
                        @Html.LabelFor(model => model.SalesSearchParameter.StateId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <select id="StateId" name="StateId" class="form-control">
                            <option value="">
                                Select State
                            </option>
                            @if (Model.SalesSearchParameter.States != null)
                            {
                                foreach (var item in Model.SalesSearchParameter.States)
                                {
                                    <option value="@item.Value" @(item.Selected?"selected":"")>
                                        @item.Text
                                    </option>
                                }
                            }

                        </select>
                        @Html.ValidationMessageFor(model => model.SalesSearchParameter.StateId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group col">
                        @Html.LabelFor(model => model.SalesSearchParameter.CityId, htmlAttributes: new { @class = "control-label col-md-2" })
                        <select id="CityId" name="CityId" class="form-control">
                            <option value="">
                                Select City
                            </option>
                            @if (Model.SalesSearchParameter.Cities != null)
                            {
                                foreach (var item in Model.SalesSearchParameter.Cities)
                                {
                                    <option value="@item.Value" @(item.Selected?"selected":"")>
                                        @item.Text
                                    </option>
                                }
                            }

                        </select>
                        @Html.ValidationMessageFor(model => model.SalesSearchParameter.CityId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10 mt-3">
                        <input id="search-sales-btn" type="submit" value="Search" class="btn btn-primary" />
                    </div>
                </div>

            }
        </div>
    </div>
</div>

<div id="table-sales" class="mt-5">
    @Html.Partial("_SalesInformationGrid", Model.GetDatas)
</div>
<div id="filter-navigation">
    @Html.Partial("_PaginationFilterNavBar", (PaginationBaseViewModel)Model)
</div>
